.getAppInfoBtn {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  margin-left: 100px;
}
.moni {
  display: flex;
  flex-wrap: wrap;
}
.moni-sec {
  display: flex;
  flex-direction: column;
  margin: 30px 40px 0 0;
  padding-right: 40px;
  border-right: 1px solid black;
}
.moni-title {
  font-size: 18px;
  color: red;
}
.moni-subtitle {
  font-size: 14px;
  color: rgba(235, 70, 70, 1);
  margin: 0 0 10px 0;
}
button {
  margin-bottom: 20px;
}
.white {
  width: 100%;
  height: 800px;
}